body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #73aedb;
  text-align: center;
  color: #fcf064;
  font-size: 3em;
  height: 400px;
}

footer {
  background-color: black;
  text-align: center;
  color: lightblue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
  margin-top: 20px;
}

.ending-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ending-form input {
  margin: 10px;
  font-size: 1em;
}
.ending-form label{
  font-weight: bold;
}
.ending-form input,label {
  height: 40px;
  width: 300px;
}

.btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
.btn-start {
  background-color: #ffc107;
}
.btn-yes {
  /* background-color: #28a745; */
}

.btn-no {
  /* background-color: #ff0018; */
}

.btn-add-guess {
  background-color: #fd7e14;
  width: 250px;
  color: white;
}


